[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djongo = "*"
dnspython = "*"
requests = "*"
django-rest-knox = "*"
pusher-push-notifications = "*"
django-background-tasks = "*"
timeloop = "*"
django-extensions = "*"
pydotplus = "*"
sklearn = "*"
pandas = "*"

[requires]
python_version = "3.7"
